#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10%;
  padding: 5% 2%;
  box-sizing: border-box;

  > div {
    width: 100%; // Cambiado a ocupar el 100% del ancho en dispositivos móviles
    display: grid;
    border-radius: 10%;
    padding: 5% 2%;
    box-sizing: border-box;

    @media only screen and (min-width: 768px) {
      width: 50%; // Divide en dos columnas en dispositivos más grandes
    }
  }
}