#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10%;
  padding: 2% 2% 5% 2%;
}

#contenedor > div {
  width: 50%;
  display: grid;
  border-radius: 10%;
  padding: 2% 2% 5%;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: white;
}

.grid-container {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100%);
  gap: 25px;
}

h1, p, a {
  font-family: 'Poppins', sans-serif;
  font-display: GRID;  
}

.carouselExample {
  width: 100px;
  align-items: center;
}

// Media Queries
@media only screen and (max-width: 1200px) {
  #contenedor > div {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #contenedor {
    padding: 2% 2% 2%;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  #contenedor {
    padding: 2% 2%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}