$color-black: #1c1c1c; // Se cambió a un tono más oscuro
$color-white: white;
$font-family: 'Rock Salt', cursive; // Se cambió a una fuente más "rockera"
$font-size: 1rem;

footer {
    border-top: 1px solid $color-white; // Se cambió a blanco para contraste
    background-color: $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; // Ajusta según tus necesidades generales
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    margin-right: 10px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    text-decoration: none;
    color: $color-white;
    font-family: $font-family;

    &:hover {
        color: #070707; // Cambiado a un tono rojizo para destacar en hover
    }
}

footer h2 {
    color: $color-white;
    font-family: $font-family;
    text-decoration: none;
    margin: 15px;
    font-size: $font-size;

    @media only screen and (max-width: 768px) {
        font-size: 0.8rem; // Ajusta según tus necesidades
    }
}
