/* Header Styles */
header {
    font-family: 'Rock Salt', cursive;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px; /* Agregado: Espaciado interno para mejorar en pantallas pequeñas */
}

header img {
    width: 5rem;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0; /* Agregado: Eliminar el margen en pantallas pequeñas */
    font-family: 'Rock Salt', cursive;
}

header a {
    margin: 15px;
    color: white;
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
    transition: color 0.3s; /* Corregido: Ajustado tiempo de transición */
}

header a:hover {
    color: rgb(201, 36, 63); /* Cambiado: Color verde más claro */
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corregido: Agregado 'border-box' */
}

/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column; /* Cambiado: Cambiar a dirección de columna en pantallas pequeñas */
        text-align: center; /* Agregado: Centrar texto en pantallas pequeñas */
    }

    header a {
        margin: 5px; /* Modificado: Menor espaciado en pantallas pequeñas */
    }
}
@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }
}