$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color: #f7f7f7;
$text-color: #030303;
$primary-color: #050505;
$nav-background: #0e0d0d;
$button-background: #0a0a0a;
$button-hover-color: #f5420c;
$footer-background: #020202;
$link-hover-background: #ddd;

